<div class="ineligible">
  <span class="ineligible__icon"></span>
  <div class="container">
    <h1><%= t('views.criterium.ineligible.title') %></h1>

    <p>
      <%= t('views.criterium.ineligible.description') %>
    </p>
    <p class="bold">
      <%= t('views.criterium.ineligible.results_did_not_pass') %>
    </p>

    <ul>
      <% @criterium.failure_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <div class="ineligible__links">
      <div>
        <p class="bold"><%= t('views.titles.action_agenda') %></p>
        <p><%= t('views.criterium.ineligible.links.action_agenda.description') %></p>
      </div>
      <p>
      <%= link_to('https://www.cbd.int/action-agenda/', title: 'Visit the Action Agenda website', target: '_blank') do %>
        <span><%= t('views.buttons.access').upcase %></span>
      <% end %>
      </p>
    </div>
    <%= link_to('/dashboard', title: 'Visit your dashboard', class: 'form-navigation__item form-navigation__item--rightmost') do %>
      <span><%= t('views.buttons.my_dashboard').upcase %></span>
    <% end %>
  </div>
</div>