<div class="bg--grey-xlight">
  <div class="container spacer-medium--top spacer-large--bottom">
    <mock-progress-bar
      :title="<%=I18n.t('form.criteria.progress.title').to_json%>"
    />
    <survey-form
      :form-data="<%= @form_hash.to_json %>"
      modal-question-body="<%="<p>#{I18n.t('form.criteria.modal.p')}</p>"%>"
      :modal-text="<%=I18n.t('form.criteria.modal').to_json%>"
      model="Criteria"
      :navigation-text="<%=I18n.t('form.criteria.navigation').to_json%>"
    />
  </div>
</div>