<% content_for :header_link_text, I18n.t('devise.registrations.have_account') %>
<% content_for :header_link_path, "/users/sign_in" %>
<% content_for :title, I18n.t('devise.registrations.sign_up') %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, I18n.t('devise.labels.email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, I18n.t('devise.labels.password') %>
    <% if @minimum_password_length %>
    <em><%= "(#{@minimum_password_length} #{I18n.t('devise.labels.characters_minimum')})" %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, I18n.t('devise.labels.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t('devise.registrations.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
