<dashboard-navigation
  :navigation="<%= I18n.t('dashboard.navigation').to_json %>"
></dashboard-navigation>
<dashboard-hero
  :button="<%= I18n.t('dashboard.hero.button').to_json %>"
  :has-commitments="<%= @has_commitments %>"
  heading-text="<%= @has_commitments ? I18n.t('dashboard.hero.heading.existing') : I18n.t('dashboard.hero.heading.none') %>"
></dashboard-hero>
<div class="container spacer-medium--top spacer-large--bottom">
  <% if !@has_commitments %>
    <dashboard-no-commitments></dashboard-no-commitments>
  <% else %>
    <dashboard-existing-commitments
      :commitments="<%= @commitments %>"
    ></dashboard-existing-commitments>
  <% end %>
</div>