<dashboard-navigation
  :navigation="<%= I18n.t('dashboard.navigation').to_json %>"
></dashboard-navigation>
<dashboard-hero
  :button="<%= I18n.t('dashboard.hero.button').to_json %>"
  :has-commitments="<%= @has_commitments %>"
  heading-text="<%= @has_commitments ? I18n.t('dashboard.hero.heading.existing') : I18n.t('dashboard.hero.heading.none') %>"
></dashboard-hero>
<div class="container spacer-medium--top spacer-large--bottom">
  <% if !@has_commitments %>
    <dashboard-content-none
      icon-path="<%= image_url('icons/climate.svg') %>" <%# to be updated to pencil icon once received %>
      :text="<%= I18n.t('dashboard.content.none').to_json %>"
    ></dashboard-content-none>
  <% else %>
    <dashboard-content-existing
      :commitments="<%= @commitments %>"
    ></dashboard-content-existing>
  <% end %>
</div>