<%= render partial: '/partials/topbar/topbar-secondary', locals: { links: header_nav(current_user) } %>

<%= render partial: '/partials/hero/hero-basic', 
  locals: { title: 'Explore Area-Based Commitments'} 
%>

<div class="container spacer-medium--top spacer-large--bottom">
  <filtered-table 
    :attributes="<%= @table_attributes %>"
    endpoint="/commitments/list"
    :filters="<%= @filters %>" 
    :paginated-rows="<%= @paginatedCommitments %>"
  ></filtered-table>
</div>