<%= render partial: '/partials/topbar/topbar-primary' %>
<%= render partial: '/partials/topbar/topbar-secondary' %>

<%= render partial: '/partials/hero/hero-basic', 
  locals: { title: 'Explore Area-Based Commitments'} 
%>

<div class="container page-padding">
  <filtered-table 
    :attributes="<%= @table_attributes %>"
    endpoint="/commitments/list"
    :filters="<%= @filters %>" 
    :paginated-rows="<%= @paginatedCommitments %>"
  ></filtered-table>
</div>