<%= render partial: '/partials/topbar/topbar-primary' %>
<%= render partial: '/partials/topbar/topbar-secondary' %>

<%= render partial: '/partials/hero/hero-basic', 
  locals: { title: 'Explore Area-Based Commitments'} 
%>

<div class="container page-padding">
  <filtered-table 
    :filters="<%= @filters %>" 
    :rows="<%= @commitments %>"
  ></filtered-table>
</div>

