<%= render partial: '/partials/topbar/topbar-secondary', locals: { links: header_nav } %>

<div class="container">
  <section class="grid-3-gap-2 spacer-small--top spacer-large--bottom">
    <div>
      <h3>ID: <%= @commitment.id %></h3>

      <h1><%= @commitment.name %></h1>
      <p><%= @commitment.description %></p>

      <h3>Planned actions:</h3>
      <p><%= @commitment.planned_actions %></p>
      
    </div>

    <div class="list--commitment-info">
      <h2 class="list__title"><span class="green">Stage:</span> <%= @commitment.stage %></h2>

      <ul class="list__ul">
        <li class="list__li">
          <span class="list__subtitle">Actors:</span>
          <span class="list__text"><%= @commitment.managers.pluck(:name).join(', ') %></span>
          <%# <span class="list__text">COMPANY WEBSITE</span> %>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Current area:</span>
          <span class="list__text"><%= @commitment.current_area_ha %> hectares</span>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Proposed area:</span>
          <span class="list__text"><%= @commitment.proposed_area_ha %> hectares</span>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Year when the commitment was made:</span>
          <span class="list__text"><%= @commitment.committed_year %></span>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Year when the commitment was fully implemented:</span>
          <span class="list__text"><%= @commitment.implementation_year %></span>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Expected duration once fully implemented:</span>
          <span class="list__text"><%= @commitment.duration_years ? "#{ @commitment.duration_years } years" : @commitment.duration %></span>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Review method:</span>
          <span class="list__text"><%= @commitment.review_method %></span>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Country Location:</span>
          <p class="list__country">
            <i class="list__icon icon--pin"></i>
            <span class="list__text"><%= @commitment.countries.pluck(:name).join(', ') %></span>
          </p>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Linked from platform:</span>
          <% @commitment.links.each do |link| %>
            <%= link_to link.name, link.url, target: '_blank', title: link.name %>
          <% end %>
        </li>
        <li class="list__li">
          <span class="list__subtitle">Review method:</span>
          <span class="list__text"><%= @commitment.review_method %></span>
        </li>
      </ul>
    </div>
  </section>

  <section class="grid-1-gap-1 spacer-large--bottom">
    <div class="list--primary-objectives">
      <h3 class="list__title">Primary Objectives</h3>
      <ul class="list__ul">
        <% @primary_objectives.each do |objective| %>
          <li class="list__li">
            <i class="list__icon icon--<%= objective[:icon] %>"></i>
            <%= objective[:title] %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="list--governance">
      <h3 class="list__title">Governance Authority</h3>
      <p><%= @commitment.governance_authority %></p>
      <p class="bold">Governance type</p>
      <span><%= @commitment.governance_types.pluck(:name).join(', ') %></span>
    </div>

    <div class="list--targets-biodiversity">
      <h3 class="list__title">Related Biodiversity Targets</h3>
      <ul class="list__ul">
        <% @targets_biodiversity.each do |target| %>
          <li class="list__li">
            <% begin %>
              <%= image_tag "icons/aichi-#{target}.svg", class: 'icon--aichi', alt: "Aichi target #{target} icon" %>
            <% rescue Sprockets::Rails::Helper::AssetNotFound  %>
              <% Rails.logger.info("Aichi icon not found") %>
            <% end %>
            <span class="list__subtitle">Aichi target <%= target %></span>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="list--targets-additional">
      <h3 class="list__title">Additional Details</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate</p>
    </div>
  </section>
</div>
