<!DOCTYPE html>
<html>
  <head>
    <title>ActionAgenda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: '/partials/head/cdn' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="v-app">
      <%= render partial: '/partials/topbar/topbar-primary' %>

      <% if content_for?(:grey_bg) && (yield :grey_bg) %>
        <div class="content bg--grey-xlight">
      <% else %>
        <div class="content">
      <% end %>
        <%= yield %>
      </div>

      <% if content_for?(:reduced_footer) && (yield :reduced_footer) %>
        <%= render partial:'partials/global/reduced_footer' %>
      <% else %>
        <%= render partial:'partials/global/footer', locals: {
          links: footer_nav, 
          logos: site_logos
        } %>
      <% end %>
    </div>
  </body>
</html>
