<!DOCTYPE html>
<html>
  <head>
    <title>ActionAgenda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="devise">
      <div class="devise__panel bg--grey-xlight">
        <div class="devise__header-nav">
          <div class="devise__header-nav-item devise__header-nav-item">
            <%= link_to I18n.t('devise.home'), root_path, class: 'devise__header-nav-link devise__header-nav-link--home' %>
          </div>
          <div class="devise__header-nav-item">
            <% if content_for?(:header_link_text) && content_for?(:header_link_path) %>
              <%= link_to (yield :header_link_text), (yield :header_link_path), class: 'devise__header-nav-link devise__header-nav-link--other' %>
            <% end %>
          </div>
        </div>
        <div class="devise__content">
          <h2 class="devise__title">
            <%= yield :title %>
          </h2>
          <% if flash.present? %>
            <div class="devise__flash-messages">
            <% flash.each do |type, msg| %>
              <div class="devise__flash-message">
                <%= msg %>
              </div>
            <% end %>
            </div>
          <% end %>
          <div class="devise__form">
            <%= yield %>
          </div>
        </div>
      </div>

      <div class="devise__panel">
        <div class="list--footer-logos">
          <ul class="list__ul">
            <% site_logos.each do |logo| %>
              <li class="list__li">
                <%= image_tag logo[:src], alt: logo[:alt], class: 'list__img' %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= image_tag image_url('devise/forest-background.png'), alt: 'Forest background', class: 'devise__panel-background-image' %>
      </div>
    </div>
  </body>
</html>
